//
//  Release.xcconfig
//  Loop Trips
//

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

VALIDATE_PRODUCT = YES

ENABLE_NS_ASSERTIONS = NO

MTL_ENABLE_DEBUG_INFO = NO

CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

IPHONEOS_DEPLOYMENT_TARGET = 9.0

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

INFOPLIST_FILE = LoopTripIOS/Info.plist

PRODUCT_BUNDLE_IDENTIFIER = Microsoft.LoopTripIOS

PRODUCT_NAME = Loop Trips

FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR) $(PROJECT_DIR)/Carthage/Build/iOS

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
